USE [master]
GO
/****** Object:  Database [tuyendung]    Script Date: 27/11/2025 10:17:24 CH ******/
CREATE DATABASE [tuyendung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tuyendung', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLVN\MSSQL\DATA\tuyendung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tuyendung_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLVN\MSSQL\DATA\tuyendung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tuyendung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tuyendung]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 27/11/2025 10:17:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[TenCongTy] [nvarchar](200) NULL,
	[GioiThieu] [nvarchar](max) NULL,
	[NganhNghe] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Website] [nvarchar](max) NULL,
	[EmailLienHe] [nvarchar](100) NULL,
	[SoDienThoaiLienHe] [nvarchar](15) NULL,
	[Logo] [nvarchar](255) NULL,
	[MaTK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_old]    Script Date: 27/11/2025 10:17:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_old](
	[MaAdmin] [int] NOT NULL,
	[TenCongTy] [nvarchar](200) NOT NULL,
	[GioiThieu] [nvarchar](max) NULL,
	[NganhNghe] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Website] [nvarchar](100) NULL,
	[EmailLienHe] [nvarchar](100) NULL,
	[SoDienThoaiLienHe] [nvarchar](15) NULL,
	[Logo] [nvarchar](255) NULL,
	[MaTK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichPhongVan]    Script Date: 27/11/2025 10:17:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichPhongVan](
	[MaPV] [int] IDENTITY(1,1) NOT NULL,
	[MaUngTuyen] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[DiaDiem] [nvarchar](200) NULL,
	[HinhThuc] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 27/11/2025 10:17:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[VaiTro] [nvarchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuyenDung]    Script Date: 27/11/2025 10:17:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuyenDung](
	[MaTin] [int] IDENTITY(1,1) NOT NULL,
	[MaAdmin] [int] NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[YeuCau] [nvarchar](max) NULL,
	[CheDoDaiNgo] [nvarchar](200) NULL,
	[MucLuong] [nvarchar](100) NULL,
	[DiaDiem] [nvarchar](200) NULL,
	[HanNopHoSo] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayDang] [datetime] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[SoLuongTuyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UngTuyen]    Script Date: 27/11/2025 10:17:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UngTuyen](
	[MaUngTuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaUV] [int] NOT NULL,
	[MaTin] [int] NOT NULL,
	[NgayNop] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[AIDanhGia] [nvarchar](max) NULL,
	[AIDiemPhuHop] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUngTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UngVien]    Script Date: 27/11/2025 10:17:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UngVien](
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[HocVan] [nvarchar](100) NULL,
	[KinhNghiem] [nvarchar](200) NULL,
	[KyNang] [nvarchar](200) NULL,
	[CV_URL] [nvarchar](255) NULL,
	[MaTK] [int] NULL,
	[MaUV] [int] IDENTITY(1,1) NOT NULL,
	[Anh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LichPhongVan] ADD  DEFAULT (N'Trực tiếp') FOR [HinhThuc]
GO
ALTER TABLE [dbo].[LichPhongVan] ADD  DEFAULT (N'Chờ phản hồi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TinTuyenDung] ADD  DEFAULT (N'Đang tuyển') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TinTuyenDung] ADD  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[TinTuyenDung] ADD  DEFAULT ((1)) FOR [SoLuongTuyen]
GO
ALTER TABLE [dbo].[UngTuyen] ADD  DEFAULT (getdate()) FOR [NgayNop]
GO
ALTER TABLE [dbo].[UngTuyen] ADD  DEFAULT (N'Chờ duyệt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Admin_old]  WITH CHECK ADD FOREIGN KEY([MaAdmin])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[Admin_old]  WITH CHECK ADD  CONSTRAINT [FK_Admin_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[Admin_old] CHECK CONSTRAINT [FK_Admin_TaiKhoan]
GO
ALTER TABLE [dbo].[LichPhongVan]  WITH CHECK ADD  CONSTRAINT [FK_LichPhongVan_UngTuyen] FOREIGN KEY([MaUngTuyen])
REFERENCES [dbo].[UngTuyen] ([MaUngTuyen])
GO
ALTER TABLE [dbo].[LichPhongVan] CHECK CONSTRAINT [FK_LichPhongVan_UngTuyen]
GO
ALTER TABLE [dbo].[TinTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_TinTuyenDung_Admin] FOREIGN KEY([MaAdmin])
REFERENCES [dbo].[Admin] ([MaAdmin])
GO
ALTER TABLE [dbo].[TinTuyenDung] CHECK CONSTRAINT [FK_TinTuyenDung_Admin]
GO
ALTER TABLE [dbo].[UngTuyen]  WITH CHECK ADD FOREIGN KEY([MaTin])
REFERENCES [dbo].[TinTuyenDung] ([MaTin])
GO
ALTER TABLE [dbo].[UngTuyen]  WITH CHECK ADD  CONSTRAINT [FK_UngTuyen_UngVien] FOREIGN KEY([MaUV])
REFERENCES [dbo].[UngVien] ([MaUV])
GO
ALTER TABLE [dbo].[UngTuyen] CHECK CONSTRAINT [FK_UngTuyen_UngVien]
GO
ALTER TABLE [dbo].[UngVien]  WITH CHECK ADD  CONSTRAINT [FK_UngVien_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[UngVien] CHECK CONSTRAINT [FK_UngVien_TaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]=N'Admin' OR [VaiTro]=N'UngVien'))
GO
ALTER TABLE [dbo].[UngTuyen]  WITH CHECK ADD CHECK  (([TrangThai]=N'Từ chối' OR [TrangThai]=N'Được chọn' OR [TrangThai]=N'Phỏng vấn' OR [TrangThai]=N'Chờ duyệt'))
GO
USE [master]
GO
